.product-image-table {
  max-width: 6.25rem;
  height: auto;
}

.product-table {
  width: 100%;
}

.product-table th,
.product-table td {
  text-align: center;
  border: 3px solid #201e28;
}

.product-table th {
  background-color: #f2f2f2;
}
