.remove-from-cart-icon {
  cursor: pointer;
  font-size: 1.875rem;
  color: rgb(14, 14, 14);
  margin-left: 7.5rem;
  font-weight: bold;
}

.cart-page {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;

  .cart-items {
    width: 45%;
  }

  .cart-form {
    width: 65%;
    padding: 1.25rem;
    background-color: #f0f0f0;
    border-radius: 0.3125rem;
  }
}

.cart-form.full-width {
  width: 100%;
  text-align: center;
  border: 0.3125rem solid black;
  background: #90ad9a;
  text-transform: uppercase;
  color: #3630a8;
  font-weight: 600;
  position: fixed;
  box-sizing: border-box;
}
