input {
  height: 1.25rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.container-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
}

.input {
  margin-top: 20px;
}

.checkout {
  margin-top: 1.25rem;
  background: #2b2626;
  color: #ffffff;
  text-transform: uppercase;
  height: 1.875rem;
  border-radius: 0.625rem;
}
